{% extends "base.html" %}

{% block content %}
	<div class="new-post">
		<a class="new-post-link" href="/blog/newpost">new post</a>
	</div>
	{% for post in posts %}
		{{ post.render() | safe}}
		<br><br>
			{% if user.name == post.author %}
				<a class="edit-link" href="/blog/editpost?post={{post.key().id()}}">Edit</a>		
				<a class="edit-link" href="/blog/delete?post={{post.key().id()}}">Delete</a>
			{% else %}
				<a href="/blog/{{post.key().id()}}/like">👍Like</a>
				
			{% endif %}
		{% if user and post.comments %}
		<div>
			<span>{{post.comments.count()}} comments</span>
		</div>

		<div class="post-comments">
			<h2>Comments</h2>

			{% for c in post.comments %}

			<div class="comments">
				<div class="comment-author">{{c.parent().name }} says:</div>
				<p class="comment-content">{{c.comment}}</p>
				{% if user.name == c.author %}
				{# <a href="/blog/editcomment?post={{post.key().id()}}/{{c.key().id()}}">Edit comment</a> #}
				<a href="x/blog/{{post.key().id()}}/comment/{{c.key().id()}}">Edit comment</a>
				<a href="/blog/deletecomment?post={{post.key().id()}}/{{c.key().id()}}">Delete comment</a>
				{% endif %}
			</div>
			{% endfor %}

			<a href="/blog/newcomment?post={{post.key().id()}}">add new comment</a>

		</div>
		{% endif %}
	{% endfor %}
	

{%  endblock %}